<%= form_for [submission, comment] do |f| %>
  <% if not comment.errors.empty? %>
    <h2>There are the following errors:</h2>
    <ul>
      <% comment.errors.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.text_area :text %>

  <%= f.submit 'Submit' %>
<% end %>
